.fiscal-image {
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-font {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 900;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sub-sec-font {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .text-font {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  main.container {
    background-color: #051C2C;
    padding: 3rem; 
  }
