.account-settings-bg {
    background-color: #3ea9f0;
    min-height: calc(100vh - 160px); /* adjust this based on header + footer height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .account-settings-container {
    text-align: center;
    padding: 3rem;
    width: 100%;
  }
  
  .account-settings-title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .account-settings-subtext {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .account-btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    color: white;
    border: none;
    margin: 0 1rem;
  }
  
  .btn-orange {
    background-color: #ff7424;
  }
  
  .btn-purple {
    background-color: #962cab;
  }
  