.full-height {
  display: flex;
  flex-wrap: wrap;
}

.left-section {
  background: url('/water.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 85vh;
}

.right-section {
  background-color: #F8F8F8;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px;
  height: 85vh;
}

.heading-left {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

.heading-right {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.text-right {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.7rem;
  padding: 0 30px;
}

.text-right-link {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: bold;
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.custom-button {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  transition: 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #02233C;
}

.custom-button a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

.spire-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.spire-logo img {
  max-width: 200px;
  height: auto;
}
