.full-height {
    display: flex;
  }

.left-section {
    background: url('/water.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh; 
}

.right-section {
    background-color: white;
    color: #00243E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    height: 85vh;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.heading-left {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  }
  
  .heading-left span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  }

  .heading-right {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 4em;
    padding: 30px;
  }

  .text-right {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    padding: 30px;
  }

  .text-right-link {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    font-style: bold;
  }

  .custom-button {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 15px 30px; 
    border-radius: 10px;
    border: none;
    text-align: center;
    transition: 0.3s ease-in-out;
    padding: 10px;
  }
  
  .custom-button:hover {
    background-color: #02233C;
    color: white;
  }
  
  .custom-button a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
  }

  .spire-logo {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
  }
