.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

table {
    border-collapse: collapse;
    background-color: white;
    border: 2px solid #77AED3;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

th {
    border: 1px solid #77AED3;
    padding: 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background-color: #77AED3;
    color: white;
    font-size: 16px;
}

td {
    padding: 10px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
}

tr:hover {
    background-color: #D6EAF8;
    transition: background 0.3s;
}