.grey-bg {
    background-color: #F8F8F8!important;
}

.bold {
    font-weight: bolder;
}

.underline {
    text-decoration: underline 1px solid black;
}

.font {
    font-size: large;
    padding: 5%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    font-style: italic;
}

.company {
    background-color: #F6861E !important;
    color: white !important;
}

.income-statement {
    background-color: #B01E8C !important;
    color: white !important;
}

.balance-sheet{
    background-color: #6460AA !important;
    color: white !important;
}

canvas {
    width: 90% !important;
    height: auto !important;
    display: block;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 5%;
    padding-top: 5%;
}

h2 {
    padding-top: 12%;
    padding-bottom: 6%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.buttons {
    padding-bottom: 20% !important;
    padding:  2.5%!important;
}

td {
    font-size: large;
}

.dark-background {
    background-color: #051C2C;
}

tr {
    padding: 7%;
}

th {
    padding: 5%;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}